version: '3.9'

services:
    postgres_db:
        image: postgres:16-alpine
        container_name: scadaramashopbe-postgres_db-1
        volumes:
            - postgres_db_data:/var/lib/postgresql/data
        ports:
            - "6543:5432"
        environment:
            POSTGRES_DB: SCD
            POSTGRES_USER: SCD
            POSTGRES_PASSWORD: Scada123!
        labels:
            - "io.vendure.create.name=my-shop"

    redis:
        image: redis:7-alpine
        container_name: scadaramashopbe-redis-1
        ports:
            - "6479:6379"
        volumes:
            - redis_data:/data
        labels:
            - "io.vendure.create.name=my-shop"

    typesense:
        image: typesense/typesense:27.0
        container_name: scadaramashopbe-typesense-1
        command: [ '--data-dir', '/data', '--api-key', 'SuperSecret' ]
        ports:
            - "8208:8108"
        volumes:
            - typesense_data:/data
        labels:
            - "io.vendure.create.name=my-shop"

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.1.1
        container_name: scadaramashopbe-elasticsearch-1
        environment:
            discovery.type: single-node
            bootstrap.memory_lock: true
            ES_JAVA_OPTS: -Xms512m -Xmx512m
        volumes:
            - elasticsearch_data:/usr/share/elasticsearch/data
        ports:
            - "9300:9200"
        labels:
            - "io.vendure.create.name=my-shop"

    vendure_app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: scadarama-app
        ports:
            - "3000:3000"
        environment:
            DATABASE_HOST: postgres_db
            DATABASE_PORT: 5432
            DATABASE_NAME: SCD
            DATABASE_USERNAME: SCD
            DATABASE_PASSWORD: Scada123!
            REDIS_HOST: redis
            REDIS_PORT: 6379
            APP_ENV: production
        depends_on:
            - postgres_db
            - redis
            - typesense
        restart: unless-stopped

volumes:
    postgres_db_data:
        driver: local
        labels:
            - "io.vendure.create.name=my-shop"
    typesense_data:
        driver: local
        labels:
            - "io.vendure.create.name=my-shop"
    elasticsearch_data:
        driver: local
        labels:
            - "io.vendure.create.name=my-shop"
    redis_data:
        driver: local
        labels:
            - "io.vendure.create.name=my-shop"
